nav {
  display: flex;
  align-items: center;

  .logo {
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;

    &:hover {
      color: #99ff99;
      text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0 8px;
      cursor: pointer;
      color: #009900;
      &:hover {
        color: #99ff99;
      }
    }
  }
}
